<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <!-- For Enterprise Library Data Access Application Block -->
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <!-- For dynamically loading objects -->
    <section name="ObjectFactories" type="B1.Configuration.ObjectFactoryConfiguration, B1.Configuration" />
  </configSections>
    
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
      <add name="MSORACLEXELOCAL" connectionString="Data Source=XE;user id=system; password=base0n3"
        providerName="System.Data.OracleClient" />
      <add name="ORACLE11LOCAL" connectionString="Data Source=b1sample;user id=system; password=sprint123"
        providerName="Oracle.DataAccess.Client" />
      <add name="SQLSERVER2008LOCAL" connectionString="Database=B1Sample;Server=(local);User id=SUPER01; password=super01123" providerName="System.Data.SqlClient" />
    <!--<add name="SQLSERVER2008LOCAL" connectionString="Database=B1Sample;Server=(local);Integrated Security=SSPI;" providerName="System.Data.SqlClient" />-->

    <add name="DB2LOCAL" connectionString="Database=B1Sample; Server=localhost; UID=steven; PWD=sprint123"
           	providerName="IBM.Data.DB2" />

    <!-- Need for the Entity framework -->
    <add name="B1SampleEntities" connectionString="metadata=res://*/B1Framework.csdl|res://*/B1Framework.ssdl|res://*/B1Framework.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=B1Sample;User id=SUPER01; password=super01123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>

  <ObjectFactories>
    <!-- Used to load any object dynamically;  The samples below are for the database helper class -->
    <!-- ObjectKey: pointed to by key in AppSettings section (for DbHelper its Connectionkey)-->
    <!-- ObjectClass: fully qualfied name of the class -->
    <!-- AssemblyName: fully qualified name of assembly -->
    <!-- AssemblyPath: fully qualified directory path where assembly that hold class can be found -->
    <ObjectFactory ObjectKey="SQLSERVER2008LOCAL" ObjectClass="B1.DataAccess.SqlServer.SqlServerHelper"
                     AssemblyPath="G:\\B1\\B1Framework\\SourceCode\\DataAccess\\B1.DataAccess.SqlServer\\bin\\Debug"
                     AssemblyName="B1.DataAccess.SqlServer" />
    <ObjectFactory ObjectKey="ORACLELOCAL" ObjectClass="B1.DataAccess.OracleDb.OracleHelper"
                     AssemblyPath="G:\\B1\\B1Framework\\SourceCode\\DataAccess\\B1.DataAccess.Oracle\\bin\\Debug"
                     AssemblyName="B1.DataAccess.Oracle" />
    <ObjectFactory ObjectKey="ORACLEDTDEV_IXC" ObjectClass="B1.DataAccess.OracleDb.OracleHelper"
                     AssemblyPath="C:\\B1\\GitHub\\B1Framework\\Binary"
                     AssemblyName="B1.DataAccess.Oracle" />
    <ObjectFactory ObjectKey="DB2LOCAL" ObjectClass="B1.DataAccess.DB2.DB2Helper"
                     AssemblyPath="C:\\B1\\GitHub\\B1Framework\\SourceCode\\DataAccess\\B1.DataAccess.DB2\\bin\\Debug"
                     AssemblyName="B1.DataAccess.DB2" />
  </ObjectFactories>

  <appSettings>
    <add key="ClientValidationEna bled" value="true"/> 
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <!-- Identifies which database to connect to (key refers to the connectionStrings section above) -->
    <add key="ConnectionKey" value="SQLSERVER2008LOCAL"/>
    <add key="ApplicationKey" value="DbSetup1"/>

  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
