@model IEnumerable<B1.Data.Models.AppSession>

<table id="idVersionList" width="100%">
    <thead>
        <tr>
            <th class="checkbox"></th>
            <th class="key" width="50px">App Code</th>
            <th width="100px">App ID</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td class="checkbox"></td>
            <td class="editable key">@item.AppCode</td>
            <td class="editable">@item.AppId</td>
        </tr>
    }
    </tbody>
</table>



