@model IEnumerable<B1.Data.Models.AppSession>

<table id="appSessionTable" width="100%">
    <thead>
        <tr>
            <th class="checkbox" width="1%"></th>
            <th class="key" width="50px">App Code</th>
            <th width="100px">App ID</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td class="checkbox"></td>
            <td class="editable key">@item.AppCode</td>
            <td class="editable">@item.AppId</td>
            <td><input type="button" value="Edit" onclick="javascript: CopyVersionForm('@item.AppCode');" />
                &nbsp;<input type="button" value="Delete" onclick="javascript: viewVersion('@item.AppCode');" /></td>
        </tr>
    }
    </tbody>
</table>

<script language="javascript">
var _appSessionList = new B1List("appSessionTable", { showCheckBox: true, editable: false, onselected: appSessionSelected });

function appSessionSelected() {
}
</script>


