@model B1.Data.Models.UserMaster

<form>
    <fieldset>
        <legend>Add/Edit a user</legend>

        <label for="edUserCode">User Code:</label>
        <input type="text" name="edUserCode" id="edUserCode" disabled="disabled" value="@Model.UserCode" style="width: 500px;" />

        <label for="edUserId">User Id:</label>
        <span style="color: red; display:none;">*</span>
        <input type="text" name="edUserId" id="edUserId" value="@Model.UserId" class="required" style="width: 500px;" />

        <label for="edFirstName">First Name:</label>
        <input type="text" name="edFirstName" id="edFirstName" value="@Model.FirstName" class="required" style="width: 500px;" />
    </fieldset>
</form>

