<div id="userEdit" style="display: none;">
    <div id="userEditForm" class="edit-form">
        <form>
            <fieldset>
                <legend>Add/Edit a user</legend>

                <label for="edUserCode">User Code:</label>
                <input type="text" name="edUserCode" id="edUserCode" disabled="disabled" value="@(Model.Count() > 0 ? Model.First().ConfigSetName : "")" style="width: 500px;" />

                <label for="edUserId">User Id:</label>
                <span style="color: red; display:none;">*</span>
                <input type="text" name="edUserId" id="edUserId" class="required" style="width: 500px;" />

                <label for="edFirstName">First Name:</label>
                <textarea name="edFirstName" id="edFirstName" rows="4" cols="100" style="width: 500px;"></textarea>
            </fieldset>
        </form>
    </div>
</div>

