<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    </configSections>
  <dataConfiguration defaultDatabase="ConnectionKey"></dataConfiguration>
    <connectionStrings>
      <add name="MSORACLEXELOCAL" connectionString="Data Source=XE;user id=system; password=base0n3"
        providerName="System.Data.OracleClient" />
      <add name="ORACLEXELOCAL" connectionString="Data Source=XE;user id=system; password=base0n3"
        providerName="Oracle.DataAccess.Client" />
      <add name="SQLSERVER2008LOCAL" connectionString="Database=B1Sample;Server=192.168.2.61;Integrated Security=SSPI"
            providerName="System.Data.SqlClient" />
      <add name="DB2LOCAL" connectionString="Database=B1Sample; Server=ANDREW-W7-X64; UID=andrew; PWD=base0n3"
	providerName="IBM.Data.DB2" />
</connectionStrings>
  <appSettings>

    <!-- Keys needed for Setting up a database-->
    <add key="DbServer" value="192.168.2.61"/>
    <add key="DbName" value="B1Sample"/>
    <add key="DbType" value="SQLSERVER"/>
    <add key="ApplicationKey" value="DbSetup1"/>
    <add key="UserName" value=""/>
    <add key="UserPassword" value=""/>
    <add key="AsSysDba" value="true"/>
    <add key="DDLSourceDirectory" value="C:\B1\B1Framework1.5\B1Framework\SourceCode\Database\SQLServer"/>
    <add key="TextEditor" value="notepad++"/>
    <add key="InputFilename" value="scripts\setup\B1.SampleDb.cmd"/>
    <add key="OutputFilename" value="B1.SampleDb.BuildResults.txt"/>
    <!-- substitute the value with a filename local to your environment -->
    <!-- the key corresponds to a macro in the .cmd file -->
    <add key ="B1.SampleDb.sql" value ="B1.SampleDb.varick.sql"/>
    <add key ="ResetDb" value ="ServerOnly scripts\setup\B1.SampleDb.varick.sql"/>
    
    <!-- Keys needed for running an application or utility -->
    <add key="ConnectionKey" value="SQLSERVER2008LOCAL"/>
    <add key="ApplicationKey" value="DbSetup1"/>

    <!-- These configuration values are only required if you construct the LoggingMgr using an AppConfiMgr.
    -->
    <add key="LOGGING_BackupLogFileName" value="BackupDbSetupMgrLog"/>
    <add key="LOGGING_BackupLogFileDirectory" value="C:\B1\EventLog"/>
    <add key="LOGGING_TraceLevel" value="None"/>
    <!-- You need at least one target. the first target  -->
    <add key="LOGGING_TARGET_1_Type" value="WindowsEventLog"/>
    <add key="LOGGING_TARGET_1_LogName" value="Application"/>
    <add key="LOGGING_TARGET_1_EventLogSource" value="DbSetupMgr"/>
    <add key="LOGGING_TARGET_1_Priorities" value="Normal,Warning,Trace,Critical"/>
    <!-- 
    <add key="LOGGING_TARGET_2_Type" value="MSMQ"/>
    <add key="LOGGING_TARGET_2_LogName" value="MSMQLog"/>
    <add key="LOGGING_TARGET_2_MSMQPath" value=".\Private$\NOC"/>
    <add key="LOGGING_TARGET_2_Priorities" value="Critical"/>  -->

  </appSettings>
</configuration>