<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
        <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
        <section name="ObjectFactories" type="B1.Configuration.ObjectFactoryConfiguration, B1.Configuration" />
        <section name="DbSetupConfigurations" type="B1.Configuration.DbSetupConfiguration, B1.Configuration" />
        <section name="LoggingConfigurations" type="B1.Configuration.DbSetupConfiguration, B1.Configuration" />
    </configSections>
    <dataConfiguration defaultDatabase="SQLSERVER2008LOCAL" />
    <connectionStrings>
        <add name="ORACLELOCAL" connectionString="Data Source=B1Sample;user id=system; password=base0n3;"
            providerName="Oracle.DataAccess.Client" />
        <add name="ORACLEDTDEV_IXC" connectionString="Data Source=DEV_IXC;user id=FUSION; password=FUSION"
            providerName="Oracle.DataAccess.Client" />
        <add name="SQLSERVER2008LOCAL" connectionString="Database=B1Sample;Server=ANDREW-W7-X64\SQLSERVER2008;Integrated Security=SSPI;"
            providerName="System.Data.SqlClient" />
        <add name="DB2LOCAL" connectionString="Database=B1Sample; Server=ANDREW-W7-X64; UID=andrew; PWD=base0n3;"
            providerName="IBM.Data.DB2" />
    </connectionStrings>
    <ObjectFactories>
        <ObjectFactory ObjectKey="SQLSERVER2008LOCAL" ObjectClass="B1.DataAccess.SqlServer.SqlServerHelper"
         AssemblyPath="C:\\B1\\GitHub\\B1Framework\\SourceCode\\DataAccess\\B1.DataAccess.SqlServer\\bin\\Debug"
         AssemblyName="B1.DataAccess.SqlServer" />
        <ObjectFactory ObjectKey="ORACLELOCAL" ObjectClass="B1.DataAccess.OracleDb.OracleHelper"
         AssemblyPath="C:\\B1\\GitHub\\B1Framework\\SourceCode\\DataAccess\\B1.DataAccess.Oracle\\bin\\Debug"
         AssemblyName="B1.DataAccess.Oracle" />
        <ObjectFactory ObjectKey="ORACLEDTDEV_IXC" ObjectClass="B1.DataAccess.OracleDb.OracleHelper"
         AssemblyPath="C:\\B1\\GitHub\\B1Framework\\Binary"
         AssemblyName="B1.DataAccess.Oracle" />
        <ObjectFactory ObjectKey="DB2LOCAL" ObjectClass="B1.DataAccess.DB2.DB2Helper"
         AssemblyPath="C:\\B1\\GitHub\\B1Framework\\SourceCode\\DataAccess\\B1.DataAccess.DB2\\bin\\Debug"
         AssemblyName="B1.DataAccess.DB2" />
    </ObjectFactories>
    <DbSetupConfigurations>
        <DbSetupConfig DbSetupKey="SQLSERVER2008LOCAL" DbServer="ANDREW-W7-X64\SQLSERVER2008" DbName="B1SAMPLE"  DbType ="SqlServer"
                       UserName="sa" UserPassword="base0n3" InputFileName="scripts\setup\B1.SampleDb.cmd" OutputFileName="B1.SampleDb.BuildResults.txt"
                       DDLSourceDirectory="C:\B1\GitHub\B1Framework\SourceCode\Database\SqlServer" AsSysDba="" TextEditor="notepad++" >
            <Params>
                <Param ParamKey="ResetDb" ParamValue="ServerOnly scripts\setup\B1.SampleDb.andrew.sql"/>
                <Param ParamKey="DropObjects" ParamValue="scripts\setup\B1.SampleDb.DropObjects.sql"/>
            </Params>
        </DbSetupConfig>
        <DbSetupConfig DbSetupKey="ORACLELOCAL" DbServer="B1SAMPLE" DbName="B1SAMPLE"  DbType ="Oracle"
                       UserName="system" UserPassword="base0n3" InputFileName="scripts\setup\B1.SampleDb.cmd" OutputFileName="B1.SampleDb.BuildResults.txt"
                       DDLSourceDirectory="C:\B1\GitHub\B1Framework\SourceCode\Database\Oracle" AsSysDba="false" TextEditor="notepad++" >
            <Params>
                <Param ParamKey="ResetDb" ParamValue="ServerOnly scripts\setup\B1.SampleDb.andrew.sql"/>
                <Param ParamKey="DropObjects" ParamValue="scripts\setup\B1.SampleDb.DropObjects.sql"/>
            </Params>
        </DbSetupConfig>
        <DbSetupConfig DbSetupKey="DB2LOCAL" DbServer="" DbName="B1SAMPLE" DbType ="DB2"
                       UserName="andrew" UserPassword="base0n3" InputFileName="scripts\setup\B1.SampleDb.cmd" OutputFileName="B1.SampleDb.BuildResults.txt"
                       DDLSourceDirectory="C:\B1\GitHub\B1Framework\SourceCode\Database\Db2" AsSysDba="" TextEditor="notepad++" >
            <Params>
                <Param ParamKey="ResetDb" ParamValue="ServerOnly B1.SampleDb.DropCreateDb.Andrew.sql"/>
                <Param ParamKey="DropObjects" ParamValue="B1.SampleDb.DropCreateSchema.sql"/>
            </Params>
        </DbSetupConfig>
    </DbSetupConfigurations>
    <LoggingConfigurations>
        <LoggingConfig LoggingKey="BasicLogging" BackupLogFileName="BackupDbSetupMgrLog" BackupLogFileDirectory="C:\B1\EventLog" TraceLevel ="None">
            <LoggingTargets>
                <LoggingTarget TargetType="WindowsEventLog">
                        <Param ParamKey="LogName" ParamValue="Application"/>
                        <Param ParamKey="EventLogSource" ParamValue="DbSetup1"/>
                        <Param ParamKey="Priorities" ParamValue="Normal,Warning,Trace,Critical"/>
                </LoggingTarget>
            </LoggingTargets>
        </LoggingConfig>
    </LoggingConfigurations>
    <appSettings>
<!--
        <add key="DbServer" value="B1SAMPLE" />
        <add key="DbName" value="B1SAMPLE" />
        <add key="DbType" value="Oracle" />
        <add key="UserName" value="system" />
        <add key="UserPassword" value="base0n3" />
        <add key="AsSysDba" value="false" />
        <add key="DDLSourceDirectory" value="C:\B1\GitHub\B1Framework\SourceCode\Database\Oracle" />
        <add key="TextEditor" value="notepad++" />
        <add key="InputFilename" value="scripts\setup\B1.SampleDb.cmd" />
        <add key="OutputFilename" value="B1.SampleDb.BuildResults.txt" />
        <add key="ResetDb" value="ServerOnly scripts\setup\B1.SampleDb.andrew.sql" />
        <add key="DbProviderDllPath" value="C:\B1\GitHub\B1Framework\Binary" />
-->
        <add key="ConnectionKey" value="SQLSERVER2008LOCAL" />
        <add key="ApplicationKey" value="DbSetup1" />
        <add key="LoggingKey" value="BasicLogging" />
        <add key="ApplicationId" value="DbSetup1" />
        <add key="TraceLevel" value="None" />
        
        <add key="LOGGING_BackupLogFileName" value="BackupDbSetupMgrLog" />
        <add key="LOGGING_BackupLogFileDirectory" value="C:\B1\EventLog" />
        <add key="LOGGING_TraceLevel" value="None" />
        
        <add key="LOGGING_TARGET_1_Type" value="WindowsEventLog" />
        <add key="LOGGING_TARGET_1_LogName" value="Application" />
        <add key="LOGGING_TARGET_1_EventLogSource" value="DbSetupMgr" />
        <add key="LOGGING_TARGET_1_Priorities" value="Normal,Warning,Trace,Critical" />
    </appSettings>
 </configuration>