<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- The following are references to custom configuration sections -->
  <configSections>
    <!-- For Enterprise Library Data Access Application Block -->
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <!-- For dynamically loading objects -->
    <section name="ObjectFactories" type="B1.Configuration.ObjectFactoryConfiguration, B1.Configuration" />
    <!-- For database setup options -->
    <section name="DbSetupConfigurations" type="B1.Configuration.DbSetupConfiguration, B1.Configuration" />
    <!-- For logging options -->
    <section name="LoggingConfigurations" type="B1.Configuration.LoggingConfiguration, B1.Configuration" />
  </configSections>

  <!-- Identifies the default database when CreateDatabase does not have a connection key -->
  <dataConfiguration defaultDatabase="SQLSERVER2008LOCAL" />
  <!-- Identifies the different database connection options -->
  <!-- name: pointed to by key in AppSettings section or the defaultDatabase -->
  <!-- providerName: Name of database vendor's ADO provider file -->
  <!-- connectionString: valid connection string for the database type -->
  <connectionStrings>
    <add name="ORACLELOCAL" connectionString="Data Source=B1Sample;user id=system; password=sprint123;"
        providerName="Oracle.DataAccess.Client" />
    <add name="ORACLEDTDEV_IXC" connectionString="Data Source=DEV_IXC;user id=FUSION; password=FUSION"
        providerName="Oracle.DataAccess.Client" />
    <add name="SQLSERVER2008LOCAL" connectionString="Database=B1Sample;Server=localhost;Integrated Security=SSPI;"
        providerName="System.Data.SqlClient" />
    <add name="DB2LOCAL" connectionString="Database=B1Sample; Server=localhost; UID=andrew; PWD=base0n3;"
        providerName="IBM.Data.DB2" />
    <add name="SampleDbEntities" connectionString="metadata=res://*/SampleDb.csdl|res://*/SampleDb.ssdl|res://*/SampleDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=B1Sample;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <ObjectFactories>
    <!-- Used to load any object dynamically;  The samples below are for the database helper class -->
    <!-- ObjectKey: pointed to by key in AppSettings section (for DbHelper its Connectionkey)-->
    <!-- ObjectClass: fully qualfied name of the class -->
    <!-- AssemblyName: fully qualified name of assembly -->
    <!-- AssemblyPath: fully qualified directory path where assembly that hold class can be found -->
    <ObjectFactory ObjectKey="SQLSERVER2008LOCAL" ObjectClass="B1.DataAccess.SqlServer.SqlServerHelper"
                     AssemblyPath="G:\\B1\\B1Framework\\SourceCode\\DataAccess\\B1.DataAccess.SqlServer\\bin\\Debug"
                     AssemblyName="B1.DataAccess.SqlServer" />
    <ObjectFactory ObjectKey="ORACLELOCAL" ObjectClass="B1.DataAccess.OracleDb.OracleHelper"
                     AssemblyPath="G:\\B1\\B1Framework\\SourceCode\\DataAccess\\B1.DataAccess.Oracle\\bin\\Debug"
                     AssemblyName="B1.DataAccess.Oracle" />
    <ObjectFactory ObjectKey="ORACLEDTDEV_IXC" ObjectClass="B1.DataAccess.OracleDb.OracleHelper"
                     AssemblyPath="G:\\B1\\B1Framework\\Binary"
                     AssemblyName="B1.DataAccess.Oracle" />
    <ObjectFactory ObjectKey="DB2LOCAL" ObjectClass="B1.DataAccess.DB2.DB2Helper"
                     AssemblyPath="G:\\B1\\B1Framework\\SourceCode\\DataAccess\\B1.DataAccess.DB2\\bin\\Debug"
                     AssemblyName="B1.DataAccess.DB2" />
  </ObjectFactories>

  <DbSetupConfigurations>
    <!-- Used to adjust the database setup options -->
    <!-- DbSetupKey: pointed to by Connectionkey in AppSettings section -->
    <!-- DbServer: use tnsname for oracle; server name for SqlServer; blank for Db2 local or ServerName for remote  -->
    <!-- DbName:  database name to create and connect to -->
    <!-- DbType: database type (Oracle, SqlServer, Db2)  -->
    <!-- UserName: database login username (if you IntegratedSecurity for SqlServer , leave "") -->
    <!-- UserPassword: database login password (if you IntegratedSecurity for SqlServer, leave "")  -->
    <!-- AsSysDba: for oracle only and only if performing certain Oracle specific cmds requiring SysDba  -->
    <!-- DDLSourceDirectory: Full path to where DDL files for given DbType are located  -->
    <!-- TextEditor: use any text editor; notepad is also good if you do not have notepadd++ -->
    <!-- InputFilename: relative path from DDLSourceDir to where the input command file can be found -->
    <!-- OutputFilename: relative path from DDLSourceDir to where the output text file will be created  -->
    <!-- Params: Can contain any key(s) that will be used by the dbSetup command files
                for example: the samples show 2 options: ResetDb is used to create a new DB 
                except for Oracle; then the script just recreates a tablespace 
                DropObjects will just drop User objects -->
    <DbSetupConfig DbSetupKey="SQLSERVER2008LOCAL" DbServer="localhost" DbName="B1SAMPLE"  DbType ="SqlServer"
                   UserName="sa" UserPassword="sa" InputFileName="scripts\setup\B1.SampleDb.cmd" OutputFileName="B1.SampleDb.BuildResults.txt"
                   DDLSourceDirectory="G:\B1\B1Framework\SourceCode\Database\SqlServer" AsSysDba="" TextEditor="notepad++" >
      <Params>
        <Param ParamKey="ResetDb" ParamValue="ServerOnly scripts\setup\B1.SampleDb.Steven.sql"/>
        <Param ParamKey="DropObjects" ParamValue="scripts\setup\B1.SampleDb.DropObjects.sql"/>
      </Params>
    </DbSetupConfig>
    <DbSetupConfig DbSetupKey="ORACLELOCAL" DbServer="B1SAMPLE" DbName="B1SAMPLE"  DbType ="Oracle"
                   UserName="system" UserPassword="sprint123" InputFileName="scripts\setup\B1.SampleDb.cmd" OutputFileName="B1.SampleDb.BuildResults.txt"
                   DDLSourceDirectory="G:\B1\B1Framework\SourceCode\Database\Oracle" AsSysDba="false" TextEditor="notepad++" >
      <Params>
        <Param ParamKey="ResetDb" ParamValue="ServerOnly scripts\setup\B1.SampleDb.Steven.sql"/>
        <Param ParamKey="DropObjects" ParamValue="scripts\setup\B1.SampleDb.DropObjects.sql"/>
      </Params>
    </DbSetupConfig>
    <DbSetupConfig DbSetupKey="DB2LOCAL" DbServer="" DbName="B1SAMPLE" DbType ="DB2"
                   UserName="Steven" UserPassword="sprint123" InputFileName="scripts\setup\B1.SampleDb.cmd" OutputFileName="B1.SampleDb.BuildResults.txt"
                   DDLSourceDirectory="G:\B1\B1Framework\SourceCode\Database\Db2" AsSysDba="" TextEditor="notepad++" >
      <Params>
        <Param ParamKey="ResetDb" ParamValue="ServerOnly scripts\setup\B1.SampleDb.DropCreateDb.developerName.sql"/>
        <Param ParamKey="DropObjects" ParamValue="scripts\setup\B1.SampleDb.DropCreateSchema.sql"/>
      </Params>
    </DbSetupConfig>

  </DbSetupConfigurations>
  <!-- Used to control the logging options -->
  <!-- LoggingKey: pointed to by key in AppSettings section -->
  <!-- BackupLogFileName: name of file used when all targets fail for Critical Messages only -->
  <!-- BackupLogFileDirectory: directory path where backupLogFile will be stored -->
  <!-- TraceLevel: Controls tracing output: None, Level1 ... Level5, All -->
  <!-- TargetType: Where/what to log to: (WindowsEventLog, File, MSMQ, MemoryFile) -->
  <!-- LogName: Used as a name for the Target (windows EventLog or MSMQ QueueName,etc -->
  <!-- Priorities: Used to control which type of messages go to that target (Normal,Warning,Trace,Critical,All) -->
  <!-- Params: Can contain any key(s) that will be used by the logging target -->
  <LoggingConfigurations>
    <LoggingConfig LoggingKey="BasicLogging" BackupLogFileName="BackupDbSetupMgrLog" BackupLogFileDirectory="G:\B1\EventLog" TraceLevel ="None">
      <LoggingTargets>
        <LoggingTarget TargetType="WindowsEventLog" LogName="Application" Priorities="All">
          <Params>
            <Param ParamKey="EventLogSource" ParamValue="DbSetup1"/>
          </Params>
        </LoggingTarget>

        <!-- MSMQ Logging Target-->
        <!-- MSMQPath: Path to queue -->
        <!--
                <LoggingTarget TargetType="MSMQ" LogName="MSMQLog" Priorities="All">
                    <Params>
                        <Param ParamKey="MSMQPath" ParamValue=".\Private$\NOC"/>
                    </Params>
                </LoggingTarget>  -->

        <!-- Memory File Logging (Fast disk IO logging)-->
        <!-- LogFileDirectory: Directory for log files -->
        <!-- LogFileNamePrefix: Prefix of log file name. Rest of file name will be date and time plus rollover number. -->
        <!-- LogFileSize: Mamiximum log file size. Will spill over into new file when current file is full.-->
        <!--
                <LoggingTarget TargetType="MemoryFile" LogName="MSMQLog" Priorities="All">
                    <Params>
                        <Param ParamKey="LogFileDirectory" ParamValue="C:\Temp"/>
                        <Param ParamKey="LogFileNamePrefix" ParamValue="AppLog"/>
                        <Param ParamKey="LogFileSize" ParamValue="1000000"/>
                    </Params>
                </LoggingTarget>  -->
      </LoggingTargets>
    </LoggingConfig>
  </LoggingConfigurations>
  <appSettings>
    <!-- Identifies which database to connect to (key refers to the connectionStrings section above) -->
     <add key="ConnectionKey" value="SQLSERVER2008LOCAL" /> 
    <!--<add key="ConnectionKey" value="ORACLELOCAL" />-->
    <!-- Identifies which logging targets are used (key refers to the loggingConfigurations section above) -->
    <add key="LoggingKey" value="BasicLogging" />
    <!-- Identifies a UNIQUE identifier for this applications's Instance; The value in this key must correspond
                to a value in the AppMaster table in the database.-->
    <add key="ApplicationId" value="DbSetup1" />
  </appSettings>
</configuration>