@model System.Web.Mvc.HandleErrorInfo
@using B1.WebSite.Admin;           

@{
    ViewBag.Title = "Access Denied";
    if (Request.QueryString[Constants.UrlReferrer] != null)
    {
        System.Web.Routing.RouteValueDictionary dictionary = new System.Web.Routing.RouteValueDictionary();
        dictionary.Add(Constants.UrlReferrer, Request.QueryString[Constants.UrlReferrer]);
        ViewBag.Dictionary = dictionary;
    }
}

<h2>@ViewBag.Title</h2>
<h2>@Request.QueryString[Constants.Message]</h2>
<h2>
    Please ask your system administrator to grant you the privilege.
</h2>

 @if(ViewBag.Dictionary != null)
 { 
   <text>
   [@Html.ActionLink("Go Back", Constants.GoBack
    , Constants.Admin
    , (System.Web.Routing.RouteValueDictionary)@ViewBag.Dictionary, null) ]
   </text>
 }
