*.fla
*.swf
*.FLA
*.SWF
*.ncb
*.zip
*.ZIP
*.AddIn
*.ADDIN
*.addin
*.hlp
*.HLP
*.pdb
*.PDB
*.dll
*.DLL
*.EXE
*.exe
*.suo
*.scc
*.vspscc
*.user
*.cache
*.log
*.rdl.data
*.pdf
*.rpt
*.doc
*.DOC
*.RPT
*.PDF
*.MDB
*.mdb
*.jpg
*.JPG
*.GIF
*.gif
*.bin
*.BIN
*.vsd
*.VSD
*.vssettings
*.lib
*.LIB
*.ppt
*.PPT
*.obj
*.OBJ
*.dep
*.idb
*.pch
*.htm
*.HTM
*.manifest
*.res
*.RES
*.ilk
*.exp
*.bmp
*.BMP
*.ico
*.ICO
*.cur
*.CUR
*.364
*.vsz
*.meta
App.config
app.config
Web.config
web.config
TmpBFC.CMD
super011.*
SUPER011.*
batch011.*
BATCH011.*
bin/
/bin/
obj/
dbg/
DBG/
Dbg/
SRC/B1_APP/Temp/
Temp/
B1BDLL.xml
B1.SampleDb.BuildResults.txt
cmdOutput.txt
output.txt
ddl.bat
ddlWrapper.bat
Visual Studio 2010